#para {
    color:chocolate;
    background-color:burlywood ;
    border: 2px;
    border-style: solid;
}

#yay {
    color:rgb(0, 0, 0);
    background-color:bisque ;
    border: 2px;
    border-style: double;
}